\_\_new__<br>
當class被初始化(initialize)時，使用的是\_\_init__ function<br>
而創建本身是\_\_new__方法<br>
此方法可用於singleton design pattern 的實現<br>

In [8]:
class Display_new_cls(object):
    __instance = False
    def __init__(self,name ,age):
        self.name =name
        self.age = age
    def __new__(cls, *args, **kwargs):
        if cls.__instance :
            return cls.__instance
        cls.__instance = object.__new__(Display_new_cls)
        return cls.__instance

In [9]:
aa = Display_new_cls('JACK',31)
print(aa)
print(aa.name)
print(aa.__dict__)

<__main__.Display_new_cls object at 0x000002AEB7359FD0>
JACK
{'name': 'JACK', 'age': 31}

In [14]:
aa2 = Display_new_cls('AMY',15)
print(aa2)
print(aa2.name)
print(aa2.age)
aa3 = Display_new_cls('David',31)
print(aa2)
print(aa2.name)
print(aa2.age)
print('>>>>>'+str(id(aa)))
print('>>>>>'+str(id(aa2)))
print('>>>>>'+str(id(aa3)))

<__main__.Display_new_cls object at 0x000002AEB7359FD0>
AMY
15
<__main__.Display_new_cls object at 0x000002AEB7359FD0>
David
31
>>>>>2949421309904
>>>>>2949421309904
>>>>>2949421309904